:root {
  --xs-skrift: 1rem;
  --s-skrift: 1.1rem;
  --m-skrift: 1.3rem;
  --l-skrift: 1.5rem;
  --xl-skrift: 2rem;

  margin: 20px;

  --xxs-spacing: 0.4rem;
  --xs-spacing: 1rem;
  --s-spacing: 1.5rem;
  --m-spacing: 2rem;
  --l-spacing: 3rem;
  --xl-spacing: 4rem;
  --xxl-spacing: 8rem;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  line-height: 1.5;
}

img,
svg {
  display: block;
  max-width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.some_icon {
  width: 75px;
  padding: var(--xs-spacing);
}

footer {
  margin-inline: auto;
}

/************************************landing page******************************/

.forsidebillede {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

nav {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  padding-left: 65px;
}

li {
  list-style: none;
}
