:root {
  --xs-skrift: 1rem;
  --s-skrift: 1.1rem;
  --m-skrift: 1.3rem;
  --l-skrift: 1.5rem;
  --xl-skrift: 2rem;

  margin: 20px;

  --xxs-spacing: 0.4rem;
  --xs-spacing: 1rem;
  --s-spacing: 1.5rem;
  --m-spacing: 2rem;
  --l-spacing: 3rem;
  --xl-spacing: 4rem;
  --xxl-spacing: 8rem;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  line-height: 1.5;
}

img,
svg {
  display: block;
  max-width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.some_icon {
  width: 75px;
  padding: var(--xs-spacing);
}

.left {
  display: flex;
  gap: var(--xl-spacing);
}

li {
  list-style-type: none;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
}

/* FOOTER */
.gridfooter {
  border-top: rgb(159, 159, 159) solid 1px;
  margin-bottom: 3rem;
}

.imgfooter {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.flexikon {
  gap: 10px;
  margin-bottom: 10px;
}

.footerikon {
  display: inline;
  width: 15%;
}

.imgf {
  display: block;
  width: 50%;
}

.h3footer {
  font-family: "Roboto", sans-serif;
  margin-top: 1.5rem;
  color: rgb(132, 132, 132);
}

.pfooter {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: rgb(132, 132, 132);
  line-height: 1.7rem;
}

.logo {
  width: 40%;
}

.ikon {
  width: 50%;
}

@media (min-width: 740px) {
  .gridfooter {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin-bottom: 3rem;
  }

  .imgfooter {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .flexikon {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .h3footer {
    margin-top: 1.5rem;
    color: rgb(132, 132, 132);
    margin-left: 10px;
  }

  .pfooter {
    margin-left: 10px;
  }
}

footer {
  margin-inline: auto;
}
