:root {
  --xs-skrift: 1rem;
  --s-skrift: 1.1rem;
  --m-skrift: 1.3rem;
  --l-skrift: 1.5rem;
  --xl-skrift: 2rem;

  margin: 20px;

  --xxs-spacing: 0.4rem;
  --xs-spacing: 1rem;
  --s-spacing: 1.5rem;
  --m-spacing: 2rem;
  --l-spacing: 3rem;
  --xl-spacing: 4rem;
  --xxl-spacing: 8rem;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  line-height: 1.5;
}

img,
svg {
  display: block;
  max-width: 100%;
  padding: 0;
  box-sizing: border-box;
}

.some_icon {
  width: 75px;
  padding: var(--xs-spacing);
}

/* HEADER */
nav {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
}

ul {
  padding: 0;
}

p {
  max-width: 70ch;
}

.header_nav {
  display: flex;
  gap: var(--xl-spacing);
  align-items: center;
}

.header_icon {
  display: flex;
  margin-left: var(--xl-spacing);
}

li {
  list-style-type: none;
}

a {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: black;
  font-size: large;
}

/* NAVIGATIONSLINKS ANIMATION */
.nav-links {
  position: relative;
}

.nav-links::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 180ms ease-in;
}

.nav-links:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 850px) {
  .toggle-btn {
    display: block;
  }

  .header_nav {
    display: contents;
  }

  .header_nav {
    display: none;
  }

  .header_nav.shown {
    border-top: 3px solid var(--link-farve);
    padding-top: 2rem;
    margin-top: 2rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    text-align: center;
    font-size: 2rem;
  }

  .some_icon {
    width: 30px;
    padding: var(--xxs-spacing);
  }

  .header_nav {
    display: contents;
  }

  .header_nav {
    display: none;
  }
}

.hamburger {
  display: block;
  position: relative;
  background-color: black;
}

.hamburger,
.hamburger::before {
  width: 2em;
  height: 4px;
  background: black;

  transition: transform 0.7s cubic-bezier(0, 0.01, 0.24, 1);
}

.hamburger::before {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  bottom: 8px;
}

.pressed .hamburger {
  transform: rotate(-45deg);
}

.pressed .hamburger::before {
  transform: rotate(90deg) translate(8px);
}

.toggle-menu-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.toggle-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  overflow: hidden;
  max-height: 0px;
  transition: max-height 1000ms;
}

.toggle-menu.shown {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
  overflow: hidden;
  max-height: 225px;
  transition: max-height 1000ms;
}

@media (min-width: 851px) {
  .toggle-menu.shown {
    display: none;
  }
}

/* FOOTER */
footer {
  margin-inline: auto;
  margin-bottom: var(--l-spacing);
}

.gridfooter {
  border-top: rgb(159, 159, 159) solid 1px;
}

.imgfooter {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  width: 50%;
}

.flexikon {
  gap: 10px;
  margin-bottom: 10px;
}

.footerikon {
  display: inline;
  width: 15%;
}

.footerikon:hover {
  opacity: 90%;
}

.imgf {
  display: block;
  width: 50%;
}

.h3footer {
  font-family: "Roboto", sans-serif;
  margin-top: 1.5rem;
  color: rgb(132, 132, 132);
}

.pfooter {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: rgb(132, 132, 132);
  line-height: 1.7rem;
}

.logo {
  width: 40%;
}

.ikon {
  width: 50%;
}

@media (min-width: 740px) {
  .gridfooter {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }

  .imgfooter {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }

  .flexikon {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .h3footer {
    margin-top: 1.5rem;
    color: rgb(132, 132, 132);
    margin-left: 10px;
  }

  .pfooter {
    margin-left: 10px;
  }
}
