

h1{
    font-family: "Roboto", sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

main{
    margin:0;
overflow: hidden;
    margin-bottom: 2rem;

}






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .right {
    display: flex;
  }
  



  p{
    font-family: "Roboto", sans-serif;
max-width: 400px;
}


h2{
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: 800;
    line-height: 2rem;
    margin-bottom: 1rem;
  }
  h4{
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: #948077;
  }


a{
    text-decoration: none;
    color: black;
    margin-right: auto;
}

.button{
    padding: 0.5rem 1.5rem;
    margin-right: auto;
    border: #948077 solid 0.1rem;
    font-family: "Roboto", sans-serif;
    margin-top: 1rem;
cursor: pointer;
    transition: 0.2s ease;
}

.button:hover{
    background-color: #948077;
    color: white;
    transition: 0.2s ease;
}



  .variant{

margin-top: 4rem;
margin-bottom:7rem;



  }

  .centre_text{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  .centre_text p{
    max-width: 500px;
  }

  .left1{
    overflow: hidden;
display: flex;
    justify-content: center;

    
}

  .left1 img{
    margin: auto;
    
  }

  .rightk{
    display: flex;
    flex-direction: column;
    justify-content: center;


    margin-top: 2rem;
    
  }

  .order{
    order: -1;
  }


  @media (min-width: 800px) {
  
    .variant{
      display: flex;
      justify-content: center;
      gap: 4rem;
    
    }

}