* {
  font-family: "Roboto", sans-serif;
}

body {
  margin-inline: auto;
}

header {
  margin-bottom: var(--m-spacing);
}

main {
  max-width: 900px;
  margin-inline: auto;
}

h1 {
  font-size: 3.5rem;
}

.underskrift {
  font-size: var(--m-skrift);
}

.kontaktForm {
  margin-top: var(--l-spacing);
  max-width: 800px;
}

.kontaktLabel {
  margin-bottom: var(--xs-spacing);
}

#besked {
  margin-bottom: var(--s-spacing);
}

@media (min-width: 740px) {
  .kontaktForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-bottom: var(--s-spacing);
  }

  .kontaktForm :nth-child(4) {
    grid-column: 2;
    grid-row: 1/3;
  }
}

button {
  display: flex;
  max-width: 100px;
  padding: var(--xs-spacing);
  margin-bottom: var(--m-spacing);
  margin-inline: auto;
}

nav {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
}

ul {
  padding: 0;
}

.right {
  display: flex;
}
