* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h2 {
  font-weight: bold;
}
h3 {
  font-weight: bold;
}

.grid1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.produktbillede {
  width: 85%;
  margin-top: 0%;
  margin-left: 10%;
  z-index: -1;
}
.break {
  font-weight: 200;
}

li {
  list-style: none;
}
.logo {
  width: 7%;
  margin-bottom: 2%;
}
.link {
  text-decoration: none;
  color: black;
  border: solid black 1px;
  padding: 0.5em;
  font-weight: bold;
}
