* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

nav {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  li {
    list-style: none;
  }

  .logo {
    width: 40%;
  }
  
  .ikon {
    width: 50%;
  }
  
.footerikon {
    display: block;
    width: 15%;
  }

  .imgf {
    display: block;
    width: 20%;
  }


  .right {
    display: flex;
  }
  
  
.h3footer {
    font-family: "Roboto", sans-serif;
    margin-top: 1.5rem;
    color: rgb(132, 132, 132);
    margin-left: 10px;
  }
  
  .pfooter {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: rgb(132, 132, 132);
    margin-left: 10px;
    line-height: 1.7rem;
  }

  .flexikon {
    display: flex;
    gap: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  
  .imgfooter {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  .gridfooter {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    border-top: rgb(159, 159, 159) solid 1px;
    margin-bottom: 3rem;
  }

  main{
    height: 500px;
  }


  @media (max-width: 800px) {
  

    .gridfooter {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
      }

}