* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
}

h2 {
  font-weight: bold;
}
h3 {
  font-weight: bold;
}
.pris_overskrift {
  margin-bottom: 2rem;
  font-weight: 400;
}
.grid1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 0.25rem;
}
.produktbillede {
  width: 85%;
  margin-left: 7rem;
  margin-top: -1rem;
}
.right {
  display: flex;
  gap: 0.5rem;
  margin-left: 80rem;
  margin-top: -5rem;
}
.search:hover {
  transform: scale(1.1);
  opacity: 50%;
}
.kurv:hover {
  transform: scale(1.1);
  opacity: 50%;
}
ul {
  list-style: none;
  display: flex;
}
.logo {
  width: 40%;
}
.logo:hover {
  transform: scale(1.05);
  opacity: 50%;
}

.ikon {
  width: 50%;
}
.link a {
  text-decoration: none;
  color: black;
  border: solid black 2.5px;
  padding: 0.5em;
  font-weight: bold;
}
.link {
  margin-top: 2rem;
}
.link:hover {
  transform: scale(1.05);
  opacity: 50%;
}
.col2 {
  margin-top: 7rem;
  margin-left: 2rem;
  margin-right: 10rem;
}
button {
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-color: black;
  border: solid black 1px;
  color: white;
  font-weight: bold;
  padding: 0.75rem 9rem 0.75rem 9rem;
  text-align: center;
}
button:hover {
  transform: scale(1.1);
  opacity: 50%;
}

#quantity {
  padding: 0.25rem;
  margin-left: 0.5rem;
  border: solid black 1px;
  font-weight: bold;
}
.vaelg {
  margin-bottom: 1rem;
}
.vaelg input {
  margin-top: 0.5rem;
}
#seks_flaske {
  margin-left: 1rem;
}
#tolv_flaske {
  margin-left: 1rem;
}
#fireogtyve_flaske {
  margin-left: 1rem;
}
.beskrivelse {
  color: #918178;
}
.footerikon {
  display: block;
  width: 15%;
}
.h3footer {
  font-family: "Roboto", sans-serif;
  margin-top: 1.5rem;
  color: rgb(132, 132, 132);
  margin-left: 10px;
}

.pfooter {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: rgb(132, 132, 132);
  margin-left: 10px;
  line-height: 1.7rem;
}

.imgfooter {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

.gridfooter {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border-top: rgb(159, 159, 159) solid 1px;
  margin-bottom: 3rem;
}

@media (max-width: 800px) {
  .gridfooter {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
